.msg-item {
  display: flex;
  margin-bottom: 30px;
  cursor: pointer;

  &-info {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    

    & > div {
      width: fit-content; 
    }
  }

  &-name {
    font-weight: 500;
    font-size: 12px;
    color: #C9C7D0;
    // text-align: right;
    span {
      margin-left: 20px;
      color: #7B798F;
    }
  }

  &-action {
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
  }

  &-content {
    margin-top: 5px;
    font-weight: 500;
    font-size: 15px;
    color: white;
    max-width: 500px;
    padding: 15px;
    border-radius: 8px;
    border-top-left-radius: 0;
    background: #454451;
  }

  &-ref {
    color: #7B798F;
    font-weight: 500;
    font-size: 13px;
    line-height: 41px;
    display: flex;
    margin-top: 5px;

    &-content {
      padding: 0 10px;
      border-radius: 8px;
      background: #35343E;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;
      text-indent: 10px;
      color: #7B798F;

      &::before {
        content: '';
        position: absolute;
        left: 10px;
        top: 10px;
        width: 2px;
        height: 20px;
        background: #04B17D;
        border-radius: 1px;
      }
    }
  }
}

.msg-item-reverse {
  flex-direction: row-reverse;

  .msg-item-name {
    text-align: right;
  }

  .msg-item-info {
    padding-right: 10px;
    align-items: flex-end;
  }

  .msg-item-content {
    border-radius: 8px;
    border-top-right-radius: 0;
    background: linear-gradient(0deg, rgba(4, 177, 125, 0.5), rgba(4, 177, 125, 0.5)), #FFFFFF;
  }
}